/*
CSS: DropDownMenu
*/

.dropdown_button
{
    color: #1f1f1f;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 10px;
    height: 50px;
    user-select: none;
    display: flex;
    align-items: center;
}

.dropdown_button p
{
    float: left;
    margin-top: 12px;
    cursor: default;
}

.dropdown_button img
{
}

* {
  box-sizing: border-box;
}

:root {
  --bg: #242526;
  --bg-accent: #3a3c3f;
  --text-color: #dadce1;
  --nav-size: 72px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 400ms;
  --transition: all 150ms ease;
  --hover-filter: brightness(1.2);
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
button {
  font-family: var(--font-family);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.3rem;
  position: relative;
}

.nav-item:last-of-type {
  margin-right: 0;
}

.icon-button {
  --button-size: calc(var(--nav-size) * 0.65);
  width: var(--button-size);
  height: var(--button-size);
  /*background-color: #efefef;*/
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}

.nav-item > .icon-button:hover {
  filter: var(--hover-filter);
}

.icon-button svg {
  --svg-size: 24px;
  fill: #232323;
  width: var(--svg-size);
  height: var(--svg-size);
}

.dropdown {
  position: absolute;
  top: calc(100% - 5px);
  right: 10px;
  background: var(--white-color);
  border: none;
  border-radius: var(--border-radius);
  overflow: hidden;
  transition: height var(--speed) ease;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  z-index: 100000;
  color: #232323;
}

.menu-item {
  display: flex;
  align-items: center;
  background: transparent;
  border-radius: var(--border-radius);
  transition: var(--transition);  
  width: 100%;
  padding: 0.5rem;
  font-weight: bold;
  width: calc(300px - 2rem);
  margin: 0 1rem;
  z-index: 100000;

}

.menu-item:hover {
  background: #F2F2F2;
}

.menu-item .icon-button {
  margin-right: 1rem;
  font-size: 1.2rem;
}


/* Menu Header - BEGIN */

.menu_header {
  display: flex;
  align-items: center;
  background: transparent;
  border-radius: var(--border-radius);
  transition: var(--transition);
  width: 100%;
  padding: 0.5rem;
  font-weight: bold;
  width: calc(300px - 2rem);
  margin: 0 1rem;
  font-size: 22px;
  font-weight: 500;
  z-index: 10000000;

}

.menu_header_icon {
  --button-size: calc(var(--nav-size) * 0.55);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #efefef;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
  margin-right: 15px;
}

.menu_header_icon:hover {
  background-color: #e4e6eb;
}

.dropdown hr {
  height: 1px;
  margin: 8px 20px;
}

/* Menu Header - END */



/* Menu Profile - BEGIN */

.menu_profile {
  display: flex;
  align-items: center;
  background: transparent;
  border-radius: var(--border-radius);
  transition: var(--transition);
  width: 100%;
  padding: 0.5rem;
  font-weight: bold;
  width: calc(300px - 2rem);
  margin: 0 1rem;
  font-size: 22px;
  font-weight: 500;
}

.menu_profile:hover {
  background-color: #F2F2F2;
}

.menu_profile_icon {
  --button-size: calc(var(--nav-size) * 0.85);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #efefef;
  border-radius: 50%;  
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
  margin-right: 15px;
}

.menu_profile_icon:hover {
  background-color: #e4e6eb;
}

.menu_profile_icon img {
  width: 65px !important;
  height: 65px !important;
}

.menu_profile_name
{
  font-size: 22px;
  font-weight: 200;
  position: absolute;
  top: 33px;
  left: 0;
  width: 100%;
}

.menu_profile_label
{
  font-size: 12px;
  font-weight: 200;  
  margin-top: 25px;  
  width: 100%;
  text-align: left;
}

/* Menu Profile - END */


.icon-right {
  margin-left: auto;
}

.icon-right svg {
  fill: #232323;
}

.menu {
  padding: 1rem 0;
  z-index: 100000;
  background-color: white;

}

.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}

.menu-primary-enter-active {
  transform: translateX(0);
  transition: all var(--speed) ease;
}

.menu-primary-exit {
  position: absolute;
}

.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}

.menu-secondary-enter-active {
  transform: translateX(0);
  transition: all var(--speed) ease;
}

/*
.menu-secondary-exit {
}*/

.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}
